<ion-view title="Despesas">
  
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>


  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-plus" data-ng-click="showAddDespesa()"></button>
  </ion-nav-buttons>

	<div class="bar bar-assertive bar-subheader">
		<button class="button button-icon icon ion-chevron-left" data-ng-click="decMonth()"></button>
		<h2 class="title"> 
			{{ monthNames[currentMonth] }}/{{ currentYear }}
		</h2>
	 	<button class="button button-icon icon ion-chevron-right" data-ng-click="incMonth()"></button>
	</div>


	<ion-content class="has-header has-subheader">
 

	</ion-content>



    <div class="bar bar-footer bar-assertive">
      <button class="button button-clear button-disabled">Total</button>
      <button class="button button-clear button-disabled">R$ 9,99</button>
    </div>

	<script type="text/ng-template" id="add-despesa.html">
		<ion-modal-view>
			<ion-header-bar class="bar-assertive">
			    <button class="button button-icon icon ion-arrow-left-c" data-ng-click="addDespesaModal.hide()"></button>
				<h1 class="title">Adicionar Despesa</h1>
			</ion-header-bar>
			<ion-content>
				<div class="padding">

					<div class="item-input">
						<label class="item-input-wrapper">
							<input type="search" placeholder="Categoria">
						</label>
						<button class="button button-icon icon ion-plus">
						</button>
					</div>

					<button class="button button-block button-assertive">
						Adicionar
					</button>
				</div>
			</ion-content>
		</ion-modal-view>
	</script>


</ion-view>

