<ion-view title="Finanfox">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

	<div class="bar bar-positive bar-subheader">
		<h2 class="title"> 
			{{ monthNames[currentMonth] }}/{{ currentYear }}
		</h2>
	</div>

  <ion-content class="has-header has-subheader">

	<div class="card">
		<div class="item item-balanced item-divider">
			Receitas
		</div>
		<div class="item item-text-wrap">
			Total: {{ receita | brl }}
		</div>
	</div>	
	<div class="card">
		<div class="item item-assertive item-divider">
			Despesas
		</div>
		<div class="item item-text-wrap">
			Total: {{ despesa | brl }} 
		</div>
	</div>	
	<div class="card">
		<div class="item item-positive item-divider">
			Total
		</div>
		<div class="item item-text-wrap">
			<span ng-class="{'red': receita < despesa, 'green': receita >= despesa}">{{ (receita - despesa) | brl }}</span>
		</div>
	</div>		

  </ion-content>
</ion-view>

